TOKEN=SEU_TOKEN_DO_BOT_AQUI
CLIENT_ID=ID_DO_BOT_AQUI
GUILD_ID=ID_DO_SERVIDOR_AQUI

STAFF_ROLE=ID_CARGO_STAFF
APPROVED_ROLE=ID_CARGO_APROVADO
ADMIN_ROLE=ID_CARGO_ADMIN

CATEGORY_WL=ID_CATEGORIA_ALLOWLIST

CHANNEL_LOGS=ID_CANAL_LOGS
CHANNEL_APPROVED=ID_CANAL_APROVADOS
CHANNEL_REJECTED=ID_CANAL_REPROVADOS
CHANNEL_REVIEW=ID_CANAL_REVISAO

SERVER_NAME=Nome do Servidor RP
SERVER_IP=0.0.0.0
SERVER_CONNECT=connect 0.0.0.0
SERVER_SLOTS=64
SERVER_LOCATION=Brasil
SERVER_DESCRIPTION=Uma experiência de roleplay séria, imersiva e organizada.
RESTART_HOURS=00,06,12,18

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=accounts
DB_PORT=3306

E_GREEN_CIRCLE=
E_RED_CIRCLE=
E_CLOCK=
E_LINK=
E_INFO=
E_WARNING=
E_HASHTAG=
E_YES=
E_NO=
E_PENCIL=
E_TICKET=
E_FIVEM=
E_DOOR=
E_GEAR=
E_BELL=
E_BELLHOP=
E_BOOSTER=
E_CHECK=
E_CROSS=
E_CLAP=
E_CRY=
E_PARTY=
E_PLUS=
E_MEMO=
E_APENCIL=
E_MOVE=
E_ARRIVAL=
E_DEPARTURE=
E_GREEN_USER=
E_GRAY_USER=
E_QUESTION_RED=
E_QUESTION_WHITE=
E_ROBOT=
E_SALUTE=
E_SUNGLASSES=
E_THUMBS_UP=
E_THUMBS_DOWN=
E_WAVE=
E_WINK=
E_HAND_DOWN=
E_NUMBER_1=
E_NUMBER_2=
E_NUMBER_3=
E_NUMBER_4=
